<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор ссылок</title>
</head>
<body>
    <div id="VUE">
        <div v-if="user">
            <p>Зареган {{user.username}}</p>
        </div>
        <div v-else>
            <h1>MISBB - Make it short by Banana</h1>
            <label for="link">Past the URL to be shortened</label>
            <input placeholder="enter you link here" name="link" v-model="link">
            <button @click="CreateLink">shorten</button>
            {{shortLink}}
            <p>Login in to manage your links</p>
            <button onclick="window.location.href='/login'">Login in to account</button>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>